.about {
    display: flex;
    justify-content: space-around;
    margin: 50px;
    margin-top: 100px;
    font-family: sans-serif;
    @media @tablet {
        flex-direction: column;
        padding-top: 385px;
        margin: 0;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    
    img{
        width: 400px;
        height: 400px;
        border-radius: 20px;
        @media @tablet {
            width: 80%;
            height: 425px;
        }
        @media @tabletsm {
            height: 325px;
        }
        @media @phone {
            height: 250px;
        }
    }
}

.about-text{
    margin: 20px 50px 20px 20px;
    
    h2{
        font-size: 2.2rem;
        line-height: 2.0rem;
        font-weight: 700;
        padding-bottom: 20px;
        span{
            color:@color-secondary;
        }
    }
    p{
        font-size: 1.8rem;
        line-height: 2.0rem;
        font-weight: 200; 
        padding-bottom: 40px;
        color:slategray
    }
    .sub-text{
        display: flex;
        color:rgb(13, 40, 66);
        div{
            .checktext{
                .flex();
                i {
                    font-size: 3.0rem;
                    color: @color-secondary;
                    padding-right: 5px;
                }
            }
        }
    }
}    