footer {
    background-color: whitesmoke;
    margin: 0;
    display: flex;
    justify-content: space-around;
    border-top: 3px solid lightgray;
    margin-top: -200px;
    .left_side_footer{
        width: 35%; 
        margin-top: 30px;
        p{
            font-size: 1.6rem;
            color: slategray;
            font-family: sans-serif;
            margin: 15px 20px 30px 20px; 
        }
    }
    .contact {
        margin: 30px 0;
        h3{
            font-size: 2.5rem;
            color: black;
            font-family: sans-serif;
            font-weight: 700;
        }
        div{
            .flex();
            color: @color-primary;
            font-family: sans-serif;
            margin: 20px 0;
            h1{
                font-size: 1.6rem;
                padding-left: 15px;
                color: slategray;
                font-weight: 500;
            }
            }
        
    }
    
}